body {
    padding: 20px;
}

.logo {
    text-align: left;
    margin-left: 3%;
    font-size: 1000%;
    font-weight: 700
}

.login-page {
    background-image: url("../img/office-white.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-form {
    display: inline-block;
    border-radius: 12px;
    padding: 18px;
}

.login-form h2 {
    font-size: 3rem;
    margin-bottom: 20px
}

.login-form input[type=text] input[type=password] {
    width: 100%;
    margin-bottom: 10px;
}

.validation-message {
    display: block;
    color: red;
    font-size: 80%;
}

.validation-sum {
    list-style-type: none;
    color: red;
}

.main-page {
    background-image: url("../img/office-white-2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.status {
    float: right;
}

.navigation {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation .logout {
    float: right;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #333;
}

h1 {
    text-align: center;
}

main {
    background: rgba(51, 51, 51, 0.9);
}

table {
    width: 100%;
    border-radius: 18px;
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
    background: rgba(51, 51, 51, 0.9);
    color: #fff;
    border-color: rgba(80, 80, 80, 0.75);
}

.open-button {
    background-color: royalblue;
    color: white;
    padding: 16px 20px;
    border: 2px solid white;
    cursor: pointer;
    opacity: 0.9;
    width: 200px;
}

.popup-form {
    display: none;
    max-width: 300px;
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: -150px;
    background: rgb(51, 51, 51);
    padding: 10px; 
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.popup-form h2 {
    text-align: center;
    color: white;
}

.popup-form label {
    color: white;
}

.form-container .confirm-btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: 2px solid white;
    width: 100%;
    margin-bottom: 10px;
}

.form-container .cancel-btn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: 2px solid white;
    width: 100%;
    margin-bottom: 10px;
}

.form-container input[type=text] {
    width: 100%;
    margin-bottom: 5px;
}